@font-face {
  font-family: "Dohyeon";
  src: url("../font/DOHYEON.otf");
}
h2,
h3 {
  font-family: "Dohyeon";
  text-align: center;
}
.boards {
  display: flex;
}
.boards table {
  border: 2px solid #000;
  display: inline-block;
  margin: 10px;
  padding: 10px;
}
.boards table th,
.boards table td {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 23px;
  margin: 0px;
  padding: 0px;
}
.boards .user_board {
  flex: 6;
  text-align: center;
}
.boards .user_board td.checked {
  width: 36px;
  height: 36px;
  border: 2px solid #f00;
  border-radius: 36px;
}
.boards .user_board td.checked.line {
  border: 2px solid #008000;
}
.boards .display_board {
  flex: 1;
  text-align: center;
}
.boards .admin_board {
  flex: 3;
  text-align: center;
}
.boards .admin_board td.checked {
  width: 36px;
  height: 36px;
  border: 2px solid #008000;
  border-radius: 36px;
}
.input_group {
  position: fixed;
  bottom: 0;
  right: 0;
}
.input_group h3 {
  display: inline-block;
  margin: 0 20px;
}
.input_group input[type=number] {
  font-size: 20px;
  width: 50px;
  height: 50px;
  text-align: center;
  outline: none;
}
.input_group input[type=number]::-webkit-inner-spin-button,
.input_group input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input_group button {
  text-decoration: none;
  font-size: 2rem;
  color: #fff;
  padding: 10px 20px 10px 20px;
  margin: 20px;
  outline: none;
  border-radius: 10px;
  transition: all 0.1s;
  text-shadow: 0px -2px rgba(0,0,0,0.44);
  font-family: "Dohyeon";
}
.input_group button:active {
  transform: translateY(3px);
}
.input_group button#pop {
  background-color: #008000;
  border-bottom: 5px solid #003d00;
}
.input_group button#pop:active {
  border-bottom: 2px solid #165195;
}
.input_group button#start {
  background-color: #ff521e;
  border-bottom: 5px solid #c1370e;
}
.input_group button#start:active {
  border-bottom: 2px solid #c1370e;
}
